@{
  Layout = "_Layout";
}
<style>
  .btn {
    display: flex;
    justify-content: center;
    margin: 20px;
  }
  .btn button {
    color: seashell;
    border-radius: 50px;
    height: 150px;
    text-shadow: 2px 2px coral;
    box-shadow: 4px 4px 10px gray;
    font-family: 'Lacquer', 'arial', 'sans-serif';
    font-size: 27px;
  }
  .btn button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    box-shadow: 5px 5px 15px gray;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
  }
  .jumbotron {
    text-align: center;
    font-family: 'Trade Winds', 'Arial', 'Helvetica', 'sans-serif';
    color: paleturquoise;
    background-color: midnightblue;
  }
</style>
<div class="container">
  <div class="jumbotron">Hangman</div>
  <div class="btn">
    <form action="/one" method="get">
      <button type="submit" class="btn btn-primary btn-lg">Against Computer</button>
    </form>
    <form action="/two" method="get">
      <button type="submit" class="btn btn-danger btn-lg">Against Each Other</button>
    </form>
  </div>
</div>