<!DOCTYPE html>
<html>
  <head>
    <title>
      Hangman
    </title>
  </head>
  <body>
    <form action="/hangmanOne" method="post">
      <button type="submit">Against Computer</button>
    </form>
    <form action="/two" method="post">
      <button type="submit">Against Each Other</button>
    </form>
  </body>
</html>