@using Hangman.Models;
@{
  Layout = "_Layout";
}
<style>
  .wrap {
    display: block;
    overflow: auto;
  }
</style>
<div class="wrap">
    <p>Player creating the string, type your string in the form below.</p>
    <form action="/hangman" method="post">
      <label for="word">Dont let the other player see</label>
      <input id="word" name="word" type="text">
      <button type="submit">Submit</button>
    </form>
    <div class="backGround">
      <img src="~/img/HangmanCover.png" width="60%" height="35%">
    </div>
</div>

