<!DOCTYPE html>
<html>
  <head>
    <title>
      PlayHangman
    </title>
  </head>
  <body>
    <p>Player creating the string, type your string in the form below.</p>
    <form action="/hangman" method="post">
      <label for="mword">Dont let the other play see</label>
      <input id="word" name="word" type="text">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>