@using Hangman.Models;
@{
  Layout = "_Layout";
}
<div>
    <p>Player creating the string, type your string in the form below.</p>
    <form action="/hangman" method="post">
      <label for="word">Dont let the other player see</label>
      <input id="word" name="word" type="text">
      <button type="submit">Submit</button>
    </form>
    <div class="backGround">
      <img src="~/img/HangmanCover.png" width="100%" height="100%">
    </div>
</div>

