<!DOCTYPE html>
<html>
  <head>
    <title>
      TwoPlayer
    </title>
  </head>
  <body>
    <p>Now here is where the picture of the noose and spaces are!</p>
    <form action="/hangman/letter" method="post">
      <label for="letter">Type a letter here for your guess</label>
      <input id="letter" name="letter" type="text">
      <button type="submit">Submit guess</button>
    </form>
  </body>
</html>