@using Hangman.Models;
@{
  Layout = "_Layout";
}
<style>
  .row {
    display: flex;
    width: auto;
    height: 70px;
    padding: 15px;
    margin: 10px;
    font-family: 'Lacquer', 'arial', 'sans-serif';
  }
  #spaces {
    display: inline-block;
  }
  .container {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    background-color: aqua;
    border-radius: 15px;
    display: grid;
    grid-template-columns: [first] auto [meridian] auto [last];
    grid-template-rows: repeat(4, 25% [row-start]);
    width: 100%;
    height: 20%;
    padding: 10px;
  }
  .item-a {
    grid-column-start: first;
    grid-column-end: meridian;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .item-b {
    grid-column-start: 1;
    grid-column-end: meridian;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .item-c {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: inline-block;
    background-color: lightskyblue;
    font-size: 2.5vw;
    word-wrap: break-word;
  }
  .item-d {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 26px;
    background-color: darkblue;
    
  }
  .item-e {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: goldenrod;
  }
  label {
    background-image: linear-gradient( aquamarine, darkseagreen);
    border: 1px solid black;
    border-radius: 15px;
    height: auto;
    width: 50%;
    padding: 3%;
    text-align: center;
  }
  input {
    -moz-box-shadow: inset -3px -3px 10px red;
    -webkit-box-shadow: inset -3px -3px 10px blue;
    box-shadow: inset -3px -3px 10px blue;
  }
</style>

<div class="container">

  <div class="item-a">
    <div class="noosePicture" style="margin-left: 20%;">
      @if(Model.Score == 0) {
        <div>
          <img src="~/img/Hangman0.png" width="200" height="600" alt="noose picture">
        </div>
      }
    </div>
  </div>

  <div class="item-b">
    <form action="/" method="get">
      <button type="submit" class="btn btn-success">Main menu</button>
    </form>
  </div>
    
  <div class="item-c">
    <div class="spaces">
      <div class="row" id="spaces" style="word-wrap: break-word; font-family: 'Lacquer', 'arial', 'sans-serif';">
          @foreach(char i in Model.FillInBlanks())
          {
            <div style="float: left;">
              @if(i == ' ')
              {
                <h1><pre>  </pre></h1>
              } else{
                <h1><pre style="font-family: 'Lacquer', 'arial', 'sans-serif';">@i </pre></h1>
              }
            </div>
          }
      </div>
    </div>
  </div>
    

  <div class="item-d">
    @if(Model.Score < 6 && !Model.Win())
    {
      <form action="/hangman/{letter}" method="post">
        <label for="letter"><strong>Type a letter here for your guess</strong></label>
        <input id="letter" name="letter" type="text" required style="border-radius: 15px;">
        <button type="submit" style="border-radius: 15px; font-style: italic;background-color: #f7b31c;">Submit</button>
      </form>
    }
  </div>

  <div class="item-e">
    <div class="row">
      <div class="letter-bank" style="margin-right: 3%; width: 35%; background-color: darkgoldenrod; border-radius: 20px; padding-top: 7px;">
        <h2 style="font-family:'Trade Winds','arial'; text-align: center;">Letter Bank:</h2>
      </div> 
      @foreach(string i in Model.LettersBank())
      {
        <p>@i</p>
      }
    </div>
  </div>

</div>