@using Hangman.Models;
@{
  Layout = "_Layout";
}
<style>
  .container {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5));
    background-color: aqua;
    border-radius: 15px;
    display: grid;
    grid-template-columns: [first] auto [meridian] auto [last];
    grid-template-rows: repeat(4, 25% [row-start]);
    width: 100%;
    height: 20%;
    padding: 10px;
  }
  .item-a {
    grid-column-start: first;
    grid-column-end: meridian;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .item-b {
    grid-column-start: 1;
    grid-column-end: meridian;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .item-c {
    margin: 20px;
    padding: 15px;
    grid-column: 2 / 3;
    text-align: center;
    grid-row: 1 / 2;
    display: inline-block;
    background-color: azure;
    border-radius: 50px;
    font-size: 2.5vw;
  }
  .item-d {
    grid-column-start: meridian;
    grid-column-end: meridian;
    grid-row: 3 / 4;
    padding: 26px;
  }
  .item-e {
    grid-column: 1 / 3;
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: goldenrod;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
  }
  label {
    font-family:'Trade Winds','arial';
    background-color: saddlebrown;
    color: seashell;
    padding: 5px;
    border-radius: 5px;
    height: auto;
    text-align: center;
    text-shadow: 2px 2px black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }
  input {
    box-shadow: 0px 2px 20px 5px moccasin;
    width: 50px;
    border: 3px solid sienna;
    background-color: black;
    color: seashell;
    font-family: 'Trade Winds', 'arial';
    font-size: 27px;
    padding-left: 20px;
    border-radius: 15px;
  }
  .deck {
    background-color: maroon;
    height: 150px;
    width: 80%;
    border: solid black 1px;
    border-radius: 5px;
  }
  .ocean {
    background-color: mediumblue;
    width: 100%;
    height: 75px;
  }
  .coin {
    border: 1px solid black;
    border-radius: 50%;
    background-color: yellow;
    width: 35px;
    height: 35px;
    text-align: center;
  }
  #torso {
    border: purple 10px solid;
    width: 1%;
    height: 150px;
    position: absolute;
  }
</style>

<div class="container">

  <div class="item-a">
    <form action="/" method="get">
      <button type="submit" class="btn btn-warning">Main menu</button>
    </form>
    <div class="noosePicture" style="margin-bottom:100px; margin-top: 10px;">
      @if(Model.Score == 0) {
        <div>
          <img src="~/img/Hangman0.png" width="350" height="450" alt="noose picture">
        </div>
      } else if (Model.Score == 1) {
        <div>
          <img src="~/img/Hangman1.png" width="350" height="450" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 2)
      {
        <div>
          <img src="~/img/Hangman2.png" width="350" height="450" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 3)
      {
        <div>
          <img src="~/img/Hangman3.png" width="350" height="450" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 4)
      {
        <div>
          <img src="~/img/Hangman4.png" width="350" height="450" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 5)
      {
        <div>
          <img src="~/img/Hangman5.png" width="350" height="450" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 6)
      {
        <div>
          <img src="~/img/Hangman6.png" width="350" height="450" alt="1 wrong, noose picture">
        </div>
      }
    </div>
  </div>

  <div class="item-b">
    
  </div>

  <div class="item-c">
    <div style="word-wrap: break-word; font-family: 'Lacquer', 'arial', 'sans-serif';">
      @foreach(char i in Model.FillInBlanks())
      {
        <div style="float: left;">
          @if(i == ' ')
          {
            <h1><pre>  </pre></h1>
          } else {
            <h1><pre style="font-family: 'Lacquer', 'arial', 'sans-serif';">@i </pre></h1>
          }
        </div>
      }
    </div>
  </div>
  
  <div class="item-d">
    @if(Model.Score < 6 && !Model.Win())
    {
    <form action="/hangman/{letter}" method="post">
      <label for="letter"><strong>Guess here-></strong></label>
      <input id="letter" name="letter" type="text" required>
      <button type="submit" style="border-radius: 15px; font-style: italic;background-color: #f7b31c;">Submit</button>
    </form>
    } 
      else if(Model.Score == 6) 
    {
      <p>You Lose!!!!</p>
      <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Next word</button>
      </form>
    }
      else if(Model.Win())
    {
      <p>You Win!</p>
      <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Play again</button>
      </form>
    }
  </div>

  <div class="item-e">
    <div class="row">
      <div class="letter-bank" style="margin-right: 3%; width: 25%; background-color: darkgoldenrod; border-radius: 20px; padding-top: 7px;">
        <h2 style="font-family:'Trade Winds','arial'; text-align: center;">Letter Bank:</h2>
      </div>
      @foreach(string i in Model.LettersBank())
      {
        <h1 class="coin">@i</h1><pre>  </pre>
        
      }
    </div>
  </div>

</div>