@using Hangman.Models;
@{
  Layout = "_Layout";
}
<style>
  .row {
    display: flex;
    width: auto;
    height: 70px;
    padding: 15px;
    margin: 10px;
    
  }
  #spaces {
    width: 100%;
    display: inline-block;
  }
  .container {
    border: 3px solid red;
    display: grid;
    grid-template-columns: [first] auto [meridian] auto [last];
    grid-template-rows: repeat(4, 25% [row-start]);
    width: 100%;
    height: 20%;
    padding: 10px;
  }
  .item-a {
    border: 1px solid blue;
    grid-column-start: first;
    grid-column-end: meridian;
    grid-row-start: 1;
    grid-row-end: 4;
  }
  .item-b {
    border: 1px solid orange;
    grid-column-start: 1;
    grid-column-end: meridian;
    grid-row-start: 4;
    grid-row-end: 4;
  }
  .item-c {
    border: 1px solid green;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: inline-block;
    background-color: goldenrod;
  }
  .item-d {
    border: 1px solid purple;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 26px;
    background-color: darkblue;
  }
  .item-e {
    border: 1px solid black;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    background-color: cornflowerblue;
  }
  label {
    background-image: linear-gradient( aquamarine, darkseagreen);
    border: 1px solid black;
    border-radius: 15px;
    height: auto;
    width: 50%;
    padding: 3%;
    text-align: center;
  }
  input {
    -moz-box-shadow: inset -3px -3px 10px red;
    -webkit-box-shadow: inset -3px -3px 10px blue;
    box-shadow: inset -3px -3px 10px blue;
  }
</style>

<div class="container">

  <div class="item-a">
    <div class="noosePicture" style="margin-left: 20%;">
      @if(Model.Score == 0) {
        <div>
          <img src="~/img/Hangman0.png" width="300" height="600" alt="noose picture">
        </div>
      } else if (Model.Score == 1) {
        <div>
          <img src="~/img/Hangman1.png" width="200" height="600" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 2)
      {
        <div>
          <img src="~/img/Hangman2.png" width="200" height="600" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 3)
      {
        <div>
          <img src="~/img/Hangman3.png" width="200" height="600" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 4)
      {
        <div>
          <img src="~/img/Hangman4.png" width="200" height="600" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 5)
      {
        <div>
          <img src="~/img/Hangman5.png" width="200" height="600" alt="1 wrong, noose picture">
        </div>
      } else if(Model.Score == 6)
      {
        <div>
          <img src="~/img/Hangman6.png" width="200" height="600" alt="1 wrong, noose picture">
        </div>
      }
    </div>
  </div>

  <div class="item-b">
    <form action="/" method="get">
      <button type="submit" class="btn btn-success">Main menu</button>
    </form>
  </div>

  <div class="item-c">
    <div class="spaces">
      <div class="row" id="spaces">
        @foreach(char i in Model.FillInBlanks())
          {
            <div style="float: left;">
              @if(i == ' ')
              {
                <h1><pre>  </pre></h1>
              } else {
                <h1><pre>@i </pre></h1>
              }
            </div>
          }
      </div>
    </div>
  </div>
  
  <div class="item-d">
    @if(Model.Score < 6 && !Model.Win())
    {
    <form action="/hangman/{letter}" method="post">
      <label for="letter"><strong>Type a letter here for your guess</strong></label>
      <input id="letter" name="letter" type="text" required style="border-radius: 15px;">
      <button type="submit" style="border-radius: 15px; font-style: italic;background-color: #f7b31c;">Submit</button>
    </form>
    } 
      else if(Model.Score == 6) 
    {
      <p>You Lose!!!!</p>
      <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Play again</button>
      </form>
    }
      else if(Model.Win())
    {
      <p>You Win!</p>
      <form action="/" method="get">
        <button type="submit" class="btn btn-primary">Play again</button>
      </form>
    }
  </div>
  
  <div class="item-e">
    <div class="row">
      <div class="border" style="width: 35%; background-color: coral;">
        <h2 style="margin-right:0px; font-family:'Trade Winds','arial'; text-align: center;">Letter Bank:</h2>
      </div>
      @foreach(string i in Model.LettersBank())
      {
        <h1>@i</h1><pre>  </pre>
      }
    </div>
  </div>

</div>