@using Hangman.Models;
@{
  Layout = "_Layout";
}
<style>
  .row {
    width: 300px;
    height: 100px;
    padding: 15px;
    border: 1px solid blue;
  }
</style>
    <div class="container">
      <div class="spaces">
        <div class="row">
          @foreach(char i in Model.FillInBlanks())
            {
              @if(i == ' ')
              {
                <h1><pre>  </pre></h1>
              } else{
                <h1><pre>@i </pre></h1>
              }
            }
        </div>
      </div>
      <div class="noosePicture">
        @if(Model.Score == 0) {
          <div>
            <img src="~/img/Hangman0.png" width="200" height="390" alt="noose picture">
          </div>
        } else if (Model.Score == 1) {
          <div>
            <img src="~/img/Hangman1.png" width="200" height="390" alt="1 wrong, noose picture">
          </div>
        } else if(Model.Score == 2)
        {
          <div>
            <img src="~/img/Hangman2.png" width="200" height="390" alt="1 wrong, noose picture">
          </div>
        } else if(Model.Score == 3)
        {
          <div>
            <img src="~/img/Hangman3.png" width="200" height="390" alt="1 wrong, noose picture">
          </div>
        } else if(Model.Score == 4)
        {
          <div>
            <img src="~/img/Hangman4.png" width="200" height="390" alt="1 wrong, noose picture">
          </div>
        } else if(Model.Score == 5)
        {
          <div>
            <img src="~/img/Hangman5.png" width="200" height="390" alt="1 wrong, noose picture">
          </div>
        } else if(Model.Score == 6)
        {
          <div>
            <img src="~/img/Hangman6.png" width="200" height="390" alt="1 wrong, noose picture">
          </div>
        }
      </div>

      <h2>Letter Bank:</h2>
      <div class="row">
        @foreach(string i in Model.LettersBank())
        {
          <h1>@i </h1>
        }
      </div>

      @if(Model.Win())
      {
        <p>You Win!</p>
        <form action="/" method="get">
          <button type="submit" class="btn btn-primary">Play again</button>
        </form>
      }
      
      @if(Model.Score < 6 && !Model.Win())
      {
        <form action="/hangman/{letter}" method="post">
          <label for="letter">Type a letter here for your guess</label>
          <input id="letter" name="letter" type="text">
          <button type="submit">Submit guess</button>
        </form>
      } else {
        <p>You Lose!!!!</p>
        <p>Button to play again</p>
      }
    </div>