@using Hangman.Models;
@{
  Layout = "_Layout";
}
<style>
  .wrap {
    border: solid 3px red;
    height: 600px;
    text-align: center;
  }
  .btn {
    display: flex;
    justify-content: center;
  }
  .disabled {
    display: flex;
    justify-content: center;
    opacity: 60%;
  }
</style>

<div class="wrap">
  <h2>Pick a category and the computer will create a word for you to guess</h2>
  <div class="btn">
    <form action="/hard" method="get">
      <button type="submit" class="btn btn-success" style="border:solid black 1px; margin: 20px; cursor: grab;">Normal</button>
    </form>
    <div class="disabled">
      <form action="/chem" method="get">
        <button type="submit" class="btn btn-warning" style="margin: 20px; cursor: not-allowed;" disabled>Chemistry</button>
      </form>
      <form action="/astronomy" method="get">
        <button type="submit" class="btn btn-dark" style="margin: 20px; cursor: not-allowed;" disabled>Astronomy</button>
      </form>
      <form action="/movies" method="get">
        <button type="submit" class="btn btn-primary" style="margin: 20px; cursor: not-allowed;" disabled>Movies</button>
      </form>
    </div>
  </div>
</div>